@import url('https://fonts.googleapis.com/css?family=Taviraj:400&display=swap');

body{
	font-family: Taviraj;
	font-size: 36px;
	line-height: 1.1;
	color: #333333;
	letter-spacing: 0.02em;
}

.wrapper{
	max-width: 420px;
	margin: 100px auto;
	padding: 0 15px;
}

h1::after{
	content: '';
	display: block;
	border: 1px solid #333333;
	height: 0px;
	width: 65px;
	margin: 8px 0 0 0;
}