@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;900&display=swap');

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('/lesson_4/fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'), url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('/lesson_4/fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: 'Gotham Pro', sans-serif;
	font-size: 18px;
	line-height: 1.3;
	color: #404040;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.header li{
	display: inline-block;
	margin: 20px;
}

.header li:first-child{
	margin-left: 0;
}

.header li:last-child{
	margin-right: 0;
}

a{
	display: block;
	color: #404040;
	font-family: 'Yanone Kaffeesatz';
	font-size: 23px;
}

#link1:hover{
	text-shadow: 0 0 3px #000;
}

#link1::before,
#link1::after{
	content: '';
	display: block;
	visibility: hidden;
	width: 100%;
	height: 1px;
	background: #000;
}

#link1:hover::before,
#link1:hover::after{
	content: '';
	display: block;
	visibility: visible;
}

#link1:hover::before{
	box-shadow: 0 -1px 3px #000;
}

#link1:hover::after{
	box-shadow: 0 1px 3px #000;
}

#link2{
	border: 1px solid #404040;
	border-radius: 10px;
	padding: 8px 24px;
	background: linear-gradient(45deg, rgb(212, 88, 88) 0%, rgb(212, 88, 88) 35%, rgb(210, 212, 88) 45%, rgb(230, 169, 72) 55%, rgb(230, 169, 72) 100%);
}

#link2:hover{
	background: linear-gradient(45deg, rgb(212, 88, 88) 0%, rgb(212, 88, 88) 25%, rgb(210, 212, 88) 35%, rgb(230, 169, 72) 45%, rgb(230, 169, 72) 100%);
	box-shadow: inset 0 0 5px #000;
}

#link3{
	background: linear-gradient(45deg, #ffc400 0%, #67f89f 100%);
	color: #202020;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #fff;
	padding: 8px 24px;
}

#link3:hover{
	text-decoration: underline;
}

.some-list{
	background: #67f89f;
	padding: 10px 20px;
	margin: 0 0 32px 0;
}

.some-list li{
	margin: 0 0 8px 20px;
	cursor: pointer;
}

.some-list li:nth-child(odd){
	background: #ffc400;
}

.some-list li:nth-child(even){
	background: #09cf9e;
}

.some-list li:nth-child(odd):hover{
	background: #06a57d;
}

.some-list li:nth-child(even):hover{
	background: #c59701;
}

.some-list li:last-child{
	margin-bottom: 0;
}

.some-list li::before{
	content: '☻';
	display:inline-block;
	width: 20px;
	margin-left: -20px;
}

.some-list li:hover::before{
	content: '☺';
	display:inline-block;
	width: 20px;
	margin-left: -20px;
}

.info{
	margin: 0 0 24px 0;
}

.info__title{
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 36px;
}

.info__text{
	display: none;
	padding: 8px 24px;
	background: #e0e0e0;
	margin: 0 0 16px 0;
}

.info__text:target{
	display: block;
}

.info__link{
	background: #f0f0f0;
	padding: 0 0 0 8px;
}

.info__link:hover{
	text-decoration: underline;
}

.main>.wrapper>p::first-letter{
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 32px;
	color: rgb(172, 0, 0);
	display: inline-block;
	margin: 0 5px;
	padding: 0 3px;
	border: 2px solid red;
	border-radius: 5px;
}

.main>.wrapper>p{
	margin: 0 0 24px 0;
}

.footer p::first-line{
	color:#9c3636;
}